body {
  background-color: #282a36;
}

table {
  margin-top: 15px;
}

th {
  font-size: 20px;
  letter-spacing: 1px;
  color: #bcc2cd;
  font-family: 'Abril Fatface', cursive;
}

header {
  padding: 15px;
  margin-top: 20px;
  background-color: #383a59;
}

.email {
  color: #bcc2cd;
  font-size: 18px;
}

.inputAndButton {
  margin-top: 40px;
}

.searchBtn {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: #50fa7b;
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  margin-top: 40px;
}
.searchBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
  border-radius: 50%;
  box-shadow: #bcc2cd 1px 1px 8px;
}

.headerText {
  letter-spacing: 1px;
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  color: #bd93f9;
}

.smallerHeaderText {
  color: #bd93f9;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.5px;
  line-height: 0px;
}


.tableEmployee {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
  font-family: 'Abril Fatface', cursive;
}

td {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  color: #bcc2cd;
}